body {
  margin: 0;
  padding: 0 2px 0 0; /* compensate for browser defaults */
  min-width: 20rem;
  min-height: 15rem;
}

.filters {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2px 2px 2px 0; /* compensate for browser defaults */
  background: var(--neutralLighter);
  border-bottom: 1px solid var(--neutral);

  & input[type="text"],
  & input[type="button"],
  & input[type="number"],
  & select {
    height: 2.6rem;
  }
}

.filterInputs,
.filterRanges,
.images,
.image {
  display: grid;
  grid-gap: 0.4rem;
}

.filterInputs {
  grid-template-columns: 1fr 100px;
}

.renameTextbox {
  grid-column: 1 / -1;
}

.filterRanges {
  /* TODO: Try with auto instead of px values */
  grid-template-columns: auto 40px 10px 1fr 10px 40px;
}

.images {
  margin-top: 0.2rem;

  & img {
    cursor: pointer;
  }
}

.image {
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto auto;
  padding-bottom: 1rem;

  & > img {
    grid-column: 1 / -1;
    border-style: solid;

    transition: border-color var(--transitionDuration) var(--transitionEasing);
    border-color: var(--neutralLight);

    &:hover {
      border-color: var(--neutral);
    }
  }
}

.onlyImagesFromLinks {
  padding: 1px;
}

.imagesCache {
  display: none;
}

.openImageButton,
.downloadImageButton {
  width: 24px;
  height: 24px;
  cursor: pointer;

  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.openImageButton {
  background-image: url("/open.png");
}

.downloadImageButton {
  background-image: url("/download.png");
}
