@import 'tailwindcss';

@theme {
	--breakpoint-2xs: 24rem;
	--breakpoint-xs: 30rem;
	--ease-elastic: cubic-bezier(0.5, 2.5, 0.5, 0.5);
}

@utility corner-* {
	corner-shape: --value('bevel', 'notch', 'round', 'scoop', 'square', 'squircle');
}

@utility small-caps {
	font-variant: small-caps;
}

@utility text-shadow {
	text-shadow: 0 0 2px var(--color-slate-800);
}

@layer base {
	* {
		corner-shape: squircle;
	}

	:root,
	body {
		font:
			18px/1.5 'Lucida Grande',
			Arial,
			sans-serif;
	}

	main {
		min-height: 100vh;
	}

	a {
		color: var(--color-sky-600);
	}
	a:hover {
		color: var(--color-sky-700);
	}
	/* https://stackoverflow.com/questions/11243337/a-taller-than-its-img-child */
	a > img {
		display: block;
	}

	img {
		max-width: 100%;
	}

	svg {
		fill: currentColor;
	}

	input[type='text'],
	select,
	button {
		height: 32px;
	}

	select,
	button,
	label,
	input[type='checkbox'] {
		cursor: pointer;
	}

	input[type='text'],
	select {
		min-width: 0;
		border: 1px solid color-mix(in srgb, var(--color-slate-400) 20%, transparent);
		background-color: var(--color-slate-100);
		border-radius: 12px;
		padding: 0 8px;
	}

	button,
	.btn {
		border: 1px solid color-mix(in srgb, var(--color-slate-400) 20%, transparent);
		background-color: var(--color-slate-200);
		border-radius: 12px;
		text-align: center;
		line-height: 1;
		transition: background-color 200ms;

		&:hover {
			background-color: var(--color-slate-300);
		}
	}

	label {
		display: inline-flex;
		align-items: center;
		gap: 4px;
	}

	p:not(:only-child) {
		margin: 16px 0;
	}

	small {
		font-size: 0.9em;
	}

	hr {
		border-top: 1px dotted var(--color-slate-300);
	}
}

.noUi-state-drag {
	cursor: grabbing;
}

.noUi-horizontal {
	height: 12px;
}

.noUi-target {
	border-color: var(--color-sky-600);
	transition: border-color 200ms;
}

.noUi-target[disabled] {
	border-color: var(--color-slate-400);
}

.noUi-connects {
	cursor: pointer;
}

.noUi-connect {
	background-color: var(--color-sky-600);
	transition: background-color 200ms;
}

.noUi-target[disabled] .noUi-connect {
	background-color: var(--color-slate-100);
}

.noUi-horizontal .noUi-origin .noUi-handle {
	cursor: grab;
	top: -5px;
	right: -9px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border-color: var(--color-sky-600);

	transition: border-color 200ms;
}

.noUi-horizontal .noUi-origin[disabled] .noUi-handle {
	cursor: help;
	border-color: var(--color-slate-400);
}

.noUi-handle::before,
.noUi-handle::after {
	top: 3px;
	height: 10px;
}

.noUi-handle::before {
	left: 6px;
}

.noUi-handle::after {
	left: 9px;
}
