<!DOCTYPE html>
<html>
  <head>
    <title>Image Downloader | Options</title>

    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <style>
      select,
      input[type="color"],
      input[type="number"] { width: 80px; }

      input[type="number"]
      {
        text-align: right;
        margin-right: 2px;
      }

      input[type="button"]
      {
        min-width: 80px;

        height: 32px;
        margin: 6px 2px 0;
        font-size: 12px;

        cursor: pointer;
        border: 0;
        color: #fff;
      }

      #clear_data_button
      {
        float: right;
      }
    </style>

    <script src="/lib/zepto.js"></script>

    <script src="/scripts/defaults.js"></script>
    <script src="/scripts/options.js"></script>
  </head>

  <body>
    <fieldset>
      <legend>General</legend>

      <label title="Requires confirmation when you press the Download button">
        <input type="checkbox" id="show_download_confirmation_checkbox" />
        <span>Show download confirmation</span>
      </label>

      <br />
      <label title="Flashes a message to let you know your download is starting">
        <input type="checkbox" id="show_download_notification_checkbox" />
        <span>Show <b>downloading</b> message</span>
      </label>
    </fieldset>

    <fieldset>
      <legend>Filters</legend>

      <label title="Enables selection between normal, wildcard and regex filter mode">
        <input type="checkbox" id="show_filter_mode_checkbox" />
        <span>Show advanced filter modes</span>
      </label>

      <br />
      <label title="Enables the option to only show images from direct links on the page; can be useful if you want to filter out things like avatars and icons on some sites">
        <input type="checkbox" id="show_only_images_from_links_checkbox" />
        <span>Show <b>Only images from links</b> option</span>
      </label>

      <br />
      <label title="Enables the option to sort the images by URL instead of displaying them in the order they appear on the page">
        <input type="checkbox" id="show_sort_by_url_checkbox" />
        <span>Show <b>Sort by URL</b> option</span>
      </label>
    </fieldset>

    <fieldset>
      <legend>Images</legend>

      <label title="Displays the URL above each image">
        <input type="checkbox" id="show_image_url_checkbox" />
        <span>Show the URL textbox</span>
      </label>

      <br />
      <label title="Displays a button next to each image to open it in a new tab">
        <input type="checkbox" id="show_open_image_button_checkbox" />
        <span>Show the <b>open</b> button</span>
      </label>

      <br />
      <label title="Displays a button next to each image to individually download it. This download does not require confirmation, even if you've enabled the confirmation option.">
        <input type="checkbox" id="show_download_image_button_checkbox" />
        <span>Show the <b>download</b> button</span>
      </label>

      <table>
        <tr title="The number of columns">
          <td><label for="columns_numberbox">Columns:</label></td>
          <td><input type="number" id="columns_numberbox" min="1" max="10" required /></td>
        </tr>

        <tr title="Setting the minimum width can be useful for images that are too small to make out">
          <td><label for="image_min_width_numberbox">Minimum Width:</label></td>
          <td><input type="number" id="image_min_width_numberbox" min="0" max="720" required />px</td>
        </tr>

        <tr title="Setting the maximum width prevents bigger images from taking too much space, and also changes the size of the popup">
          <td><label for="image_max_width_numberbox">Maximum Width:</label></td>
          <td><input type="number" id="image_max_width_numberbox" min="30" max="720" required />px</td>
        </tr>

        <tr>
          <td><label for="image_border_width_numberbox">Border Width:</label></td>
          <td><input type="number" id="image_border_width_numberbox" min="1" max="10" required />px</td>
        </tr>

        <tr>
          <td><label for="image_border_color_picker">Border Color:</label></td>
          <td><input type="color" id="image_border_color_picker" /></td>
        </tr>
      </table>
    </fieldset>

    <div id="buttons">
      <input type="button" id="save_button" class="accent" value="SAVE" title="Saves the current settings" />
      <input type="button" id="reset_button" class="warning" value="RESET" title="Resets all settings to their defaults; save afterwards to preserve the changes" />
      <input type="button" id="clear_data_button" class="danger" value="CLEAR DATA" title="Clears all data this extension has stored on your machine" />
    </div>

    <div id="notifications"></div>
  </body>
</html>
