:root {
  /* Colors */
  /* Neutral */
  --neutral-lightest: hsl(0, 0%, 100%);
  --neutral-lighter: hsl(300, 11%, 96%);
  --neutral-light: hsl(300, 11%, 80%);
  --neutral: hsl(300, 11%, 60%);
  --neutral-dark: hsl(300, 11%, 10%);
  --neutral-darker: hsl(300, 11%, 5%);
  --neutral-darkest: hsl(300, 11%, 0%);

  --neutral-transparent-5: hsla(0, 0%, 0%, 5%);
  --neutral-transparent-20: hsla(0, 0%, 0%, 20%);

  /* Accent */
  --accent: hsl(213, 80%, 50%);
  --accent-dark: hsl(213, 80%, 40%);

  /* Success */
  --success-light: hsl(145, 64%, 43%);
  --success: hsl(145, 64%, 40%);

  /* Warning */
  --warning-light: hsl(37, 90%, 51%);
  --warning: hsl(37, 90%, 48%);

  /* Danger */
  --danger-light: hsl(6, 78%, 57%);
  --danger: hsl(6, 78%, 54%);

  /* Foreground */
  --foreground-light: hsl(0, 0%, 60%);
  --foreground: hsl(0, 0%, 20%);

  /* Border radii */
  --border-radius-md: 4px;

  /* Elevations */
  --elevation-1: 0px 2px 4px var(--neutral-transparent-20);

  /* Misc */
  --border-color: var(--neutral-transparent-5);
  --image-background: var(--neutralLight);
  --input-background: var(--neutral-transparent-5);
  --images-container-gap: 8px;
  --images-container-padding: 12px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 500px;
  min-height: 600px;
  font: 13px/1.5em 'Lucida Grande', Arial, sans-serif;
  color: var(--foreground);
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

/* labels */
.accent {
  color: var(--accent);
}
.success {
  color: var(--success);
}
.warning {
  color: var(--warning);
}
.danger {
  color: var(--danger);
}
.light {
  color: var(--foreground-light);
}

/* links */
a:link,
a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--accent-dark);
}

hr {
  border: 1px dotted var(--neutral);
  border-bottom: none;
  margin: 4px 0;
}

/* inputs */
input[type='text'],
input[type='button'],
input[type='number'],
select {
  border-radius: var(--border-radius-md);
  margin-bottom: 4px;
  font-size: 12px;
}

input[type='text'] {
  border: 0;
  background: var(--input-background);
  padding: 8px 12px;
}

select {
  padding: 6px 12px;
}

input[type='button'],
input[type='checkbox'] {
  cursor: pointer;
}

input[type='button'] {
  min-width: 50px;
  color: var(--neutral-lightest);
  border: 0;
  padding: 8px 12px;
  transition: background 200ms ease-in-out;
}
input[type='button']:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* accent */
input[type='button'].accent {
  background: var(--accent);
}
input[type='button'].accent:hover,
input[type='button'].accent:focus,
input[type='button'].accent:active {
  background: var(--accent);
}

/* success */
input[type='button'].success {
  background: var(--success-light);
}
input[type='button'].success:hover,
input[type='button'].success:focus,
input[type='button'].success:active {
  background: var(--success);
}

/* warning */
input[type='button'].warning {
  background: var(--warning-light);
}
input[type='button'].warning:hover,
input[type='button'].warning:focus,
input[type='button'].warning:active {
  background: var(--warning);
}

/* danger */
input[type='button'].danger {
  background: var(--danger-light);
}
input[type='button'].danger:hover,
input[type='button'].danger:focus,
input[type='button'].danger:active {
  background: var(--danger);
}

/* ghost */
input[type='button'].ghost {
  border: 2px solid var(--neutral-light);
  background: var(--neutral-lightest);
  color: var(--foreground);
}
input[type='button'].ghost:hover,
input[type='button'].ghost:focus,
input[type='button'].ghost:active {
  background: var(--neutral-lighter);
}

label {
  cursor: pointer;
  display: inline-flex;
}
