body {
  width: 90%;
  min-width: 370px;
  max-width: 640px;
}

select,
input[type="color"],
input[type="number"] {
  width: 80px;
}

input[type="number"] {
  margin-right: 2px;
  text-align: right;
}

input[type="button"] {
  cursor: pointer;
  min-width: 80px;
  height: 26px;
  border: 0;
  margin: 6px 2px 0;
  color: #fff;
}

.fade-enter,
.fade-leave {
  transition: opacity var(--transitionDuration) var(--transitionEasing);
}

.fade-enter        { opacity: 0; }
.fade-enter-active { opacity: 1; }

.fade-leave        { opacity: 1; }
.fade-leave-active { opacity: 0; }
