html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  /* 0.625 of 16px is 10px: https://engageinteractive.co.uk/blog/em-vs-rem-vs-px */
  font-size: 62.5%;
  font-family: var(--fontText);
  color: var(--foreground);
}

body {
  font-size: 1.3rem;
}

hr {
  border: 1px dotted var(--neutral);
  border-bottom: none;
  margin: 0.4rem 0;
}

label {
  cursor: pointer;
}

/* links */
a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--primaryDark);
}

/* floats */
.left { float: left; }
.right { float: right; }
.clear { clear: both; }

/* text */
.primary { color: var(--primary); }
.success { color: var(--success); }
.warning { color: var(--warning); }
.danger { color: var(--danger); }
.light { color: var(--foregroundLight); }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/* buttons */
button,
input[type="button"] {
  cursor: pointer;
  min-width: 5rem;
  border: 0;
  padding: 0.3rem 1rem;
  color: var(--neutralLighter);
  transition: all var(--transitionDuration) var(--transitionEasing);
  transition-property: background, opacity;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.primary {
    background: var(--primary);

    &:hover,
    &:focus,
    &:active {
      background: var(--primary);
    }
  }

  &.success {
    background: var(--successLight);

    &:hover,
    &:focus,
    &:active {
      background: var(--success);
    }
  }

  &.warning {
    background: var(--warningLight);

    &:hover,
    &:focus,
    &:active {
      background: var(--warning);
    }
  }

  &.danger {
    background: var(--dangerLight);

    &:hover,
    &:focus,
    &:active {
      background: var(--danger);
    }
  }
}
