html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  /* 0.625 of 16px is 10px: https://engageinteractive.co.uk/blog/em-vs-rem-vs-px */
  font-size: 62.5%;
  font-family: var(--fontText);
  color: var(--foreground);
}

body {
  font-size: 1.3rem;
}

hr {
  border: 1px dotted var(--neutral);
  border-bottom: none;
  margin: 4px 0;
}

label {
  cursor: pointer;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

/* labels */
.primary {
  color: var(--primary);
}
.success {
  color: var(--success);
}
.warning {
  color: var(--warning);
}
.danger {
  color: var(--danger);
}
.light {
  color: var(--foregroundLight);
}

/* links */
a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--primaryDark);
}

/* inputs */
input[type="button"] {
  min-width: 50px;
  cursor: pointer;
  color: var(--neutralLighter);
  border: 0;
  padding: 3px 10px;
  transition: background 0.15s;
}
input[type="button"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* primary */
input[type="button"].primary {
  background: var(--primary);
}
input[type="button"].primary:hover,
input[type="button"].primary:focus,
input[type="button"].primary:active {
  background: var(--primary);
}

/* success */
input[type="button"].success {
  background: var(--successLight);
}
input[type="button"].success:hover,
input[type="button"].success:focus,
input[type="button"].success:active {
  background: var(--success);
}

/* warning */
input[type="button"].warning {
  background: var(--warningLight);
}
input[type="button"].warning:hover,
input[type="button"].warning:focus,
input[type="button"].warning:active {
  background: var(--warning);
}

/* danger */
input[type="button"].danger {
  background: var(--dangerLight);
}
input[type="button"].danger:hover,
input[type="button"].danger:focus,
input[type="button"].danger:active {
  background: var(--danger);
}
